@using System
@using System.Linq
@inherits RazorEngine.Templating.TemplateBase<TfsStandalone.UI.Models.Pages.MainViewModel>
@{
    Layout = "Views/Shared/_Layout.cshtml";
    var project = Model.ProjectCollection.Projects.FirstOrDefault();
    var workspacePath = project == null ? "" : project.WorkspacePath;
    var developerCmdPath = project == null ? "" : project.DeveloperCmdPath;
    var branchComparisons = project == null ? "" : string.Join(",", project.BranchComparisons.Select(x => x.From + ">" + x.To));
    var changesetsToIgnore = project == null ? "" : string.Join(",", project.IgnoredChangesets);
}

<div id="main">
    <div class="primary-nav">
        <div data-bind="foreach: navItems">
            <div data-bind="css: css, attr: { title: title }, click: $parent.selectNavItem">
                <i data-bind="css: iconCss"></i>
            </div>
        </div>
        <div class="primary-nav__lower" data-bind="foreach: lowerNavItems">
            <div data-bind="css: css, attr: { title: title }, click: $parent.selectNavItem">
                <i data-bind="css: iconCss"></i>
            </div>
        </div>
    </div>

    <div data-bind="visible: unmergedChangesetsNavItem().isActive(), with: unmergedChangesetsViewModel">
        @Include("Views/Partials/_UnmergedChangesets.cshtml")
    </div>

    <div data-bind="visible: shelvesetDiffNavItem().isActive(), with: shelvesetDiffViewModel">
        @Include("Views/Partials/_ShelvesetDiff.cshtml")
    </div>

    <div data-bind="visible: settingsNavItem().isActive(), with: settingsViewModel">
        @Include("Views/Partials/_Settings.cshtml")
    </div>
</div>

<script>
    var settings = {
        projectCollectionUrl: "@Model.ProjectCollection.Url",
        username: "@Model.ProjectCollection.Username",
        workspacePath: "@workspacePath",
        developerCmdPath: "@developerCmdPath",
        branchComparisons: "@branchComparisons",
        changesetsToIgnore: "@changesetsToIgnore"
    };

    var data = {
        settings: settings
    };

    var viewModel = new MainViewModel(data);
    ko.applyBindings(viewModel, document.getElementById("main"));
</script>